<div class="nes-container is-dark">
  <div style="background-color:#212529; padding: 1rem 0; display: block; text-align: left">
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" checked />
      <span>One Player</span>
    </label>
    <br>
    <br>
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" />
      <span>Two Players</span>
    </label>
    <br>
    <br>
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" />
      <span>CPU Only</span>
    </label>
  </div>
</div>
