<div class="col-sm nes-container is-dark with-title">
  <p class="title"><%= nil %></p>
  <p><%= player.title %></p>
  <p><%= number_with_precision(player.elevation.round(2), :precision => 2, :delimiter => ',') %>m</p>
</div>
