<section class="message">
  <!-- Balloon -->
  <div class="nes-balloon">
    <p>
      <h1>Inconceivable!</h1>
      It is a draw! Both players had an elevation of <%= @player_one.elevation.round(2) %> meters!
    </p>
  </div>
</section>
<p>
  <%= image_tag("tie.jpg", class: "result", size: '350x300') %>
  <%= render "versus" %>
</p>
