<div class='col-sm'>
</div>
<div class='col-sm'>
<p>
  <H3 align="left">
  <span class="nes-text is-disabled">
  It's over!
  I have the...
  </span>
  </H3>
</p>
<p>
  <H3 align="left">
  <span class='title-screen'>
    HIGH
  </span>
  </H3>
</p>
<p>
  <H3 align="right">
  <span class='title-screen'>
    GROUND
  </span>
  </H3>
</p>
</div>
<div class='col-sm'>
</div>
