<%= render 'autocomplete_header' %>

<div class="row center">
<form autocomplete="off" action="/duel">
    <div class="row center">
            <!--Make sure the form has the autocomplete function switched off:-->
        <div class="col-sm-4 center">
            <div class="nes-container with-title is-centered">
                <p class="title">
                    Player One
                </p>
                <p>
                    <div class="autocomplete" style="width:300px;">
                        <input id="myInput1" type="text" name="p1_address" placeholder="Enter Address">
                    </div>
                </p>
            </div>
        </div>
        <div class="col-sm-4 center">
<div class="nes-container is-dark">
  <div style="background-color:#212529; padding: 1rem 0; display: block; text-align: left">
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" />
      <span>One Player</span>
    </label>
    <br>
    <br>
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" checked />
      <span>Two Players</span>
    </label>
    <br>
    <br>
    <label>
      <input type="radio" class="nes-radio is-dark" name="answer-dark" />
      <span>CPU Only</span>
    </label>
  </div>
</div>
        </div>
        <div class="col-sm-4 center">
            <div class="nes-container with-title is-centered">
                <p class="title">
                    Player Two
                </p>
                <p>
                    <div class="autocomplete" style="width:300px;">
                        <input id="myInput2" type="text" name="p2_address" placeholder="Enter Address">
                    </div>
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row center">
        <button type="button submit" class="nes-btn">
            <H3>
                &nbsp;Duel!&nbsp;
            </H3>
        </button>
    </div>
</form>
</div>

<%= javascript_pack_tag 'two_player_autocomplete', 'data-turbolinks-track': 'reload' %>
<%# <%= render 'autocomplete_script' %>
