<div class="row center">
  <form autocomplete="off" action="/duel">
    <div class="row center">
      <!--Make sure the form has the autocomplete function switched off:-->
      <div class="col-sm-4 center">
        <%= render partial: "player_input_box", locals: { player_name: 'Player One', player_number: 1 } %>
      </div>
      <div class="col-sm-4 center">
        <%= render partial: "gamemode", locals: { gamemode_select: '2p' } %>
      </div>
      <div class="col-sm-4 center">
        <%= render partial: "player_input_box", locals: { player_name: 'Player Two', player_number: 2 } %>
      </div>
    </div>
    <br>
    <br>
    <div class="row center">
      <button type="button submit" class="nes-btn">
        <H3>
          &nbsp;Duel!&nbsp;
        </H3>
      </button>
    </div>
  </form>
</div>
<%= javascript_pack_tag 'mapbox_autocomplete', 'data-turbolinks-track': 'reload' %>
