<div class="bg duel background-tint">
  <div class="container bg">
    <div class = "site-wrapper">
      <div class="row">
        <div class="col-sm-12 text-center">
          <br>
          <% if @results[:tie] %>
            <%= render "tie" %>
          <% else %>
            <%= render "victory" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
