<div class="footer">
  <a href="https://github.com/nostalgic-css/NES.css" target="_blank">
    <span class="nes-text is-disabled">
      <%= image_tag("nes-css.png", height: '64') %>
    </span>
  </a>
</div>
